
.header{
    padding: 70px;
    background: #240040;

}
.text-center{
    color: white;
    font-size: 5rem;

}
.header .col-4{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.jarak{
margin-top: 35px;
}
.card-body{
    color: white;
    background-color: #7879F1;
    border-radius: 15px;
}

.btn-primary{
    background-color: #240040 !important;
margin-left: 1050px;
}
.ukuran{
    font-size: 20px;
}
/* ini footer yaa */
.container2{
    padding: 45px;
     background-color: #240040;
     color: white;
 }
 .col-3{
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .col-8{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}