.header{
    padding: 70px;
    background: #240040;

}
.text-center{
    color: white;
    font-size: 5rem;

}
.header .col-4{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.jarak{
margin-top: 35px;
}
.card-body{
    color: white;
    background-color: #7879F1;
    border-radius: 15px;
}

.btn-primary{
    background-color: #240040 !important;
}
.ukuran{
    font-size: 20px;
    margin-left: 1050px;
    margin-top: 10px;
}
.ukuranedit{
    margin-left: 1060px;
}

/* ini footer yaa */
.container2{
    margin-top: 222px;
    padding: 45px;
     background-color: #240040;
     color: white;
     margin-bottom: -30px; 
 }
 .col-3{
     margin-top: 20px;

 }
 .col-8{
    margin-top: 20px;

    text-align: right;
}
.center2{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.bawah{
    margin-bottom:40px ;
}
