
.header{
    padding: 70px;
    background: #240040;

}


.text-center{
    color: white;
    font-size: 5rem;

}

.header .col-4{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.jarak{
margin-top: 35px;
}
.card-body{
    color: white;
    background-color: #7879F1;
    border-radius: 15px;
  
}
.field{
    
    background-color: white;
    color: #240040;
}
.btn-primary{
    background-color: #240040 !important;
    margin-left: 1050px;
}
.jarak2{
    margin-top: 50px;
   
}
.batas{
    text-align: center;
}
body{
    background-color: #523549;
}
.card-title{
    text-align: center;
    color: white;
}

.signup a{
    color: white;
    text-decoration: none;
}

.row{
    margin-top: 5rem;
}

/* .btn{
    padding: 0.5rem;
    border-radius: 5px;
    color: wheat;
    outline: wheat;
    font-weight: 500;
}

.btn:hover{
    color: white;
    outline:#523549;
    background-color: wheat;
} */
.join{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
/* ini footer yaa */
/* ini footer yaa */
.container2{
    padding: 45px;
     background-color: #240040;
     color: white;
 }
 .col-3{
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .col-8{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.center{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}